.rates {
    display: flex;
    position: relative;
    .rate {
        svg {
            width: 30px;
            pointer-events: none;
        }

        cursor: pointer;
        margin-right: 3px;
        &:hover {
            svg {
                fill: yellow;
            }
        }

        &.active {
            svg {
                fill: yellow;
            }
        }
    }

    .info {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
    }

    &.disabled {
        pointer-events: none;
    }
}
